:root {
  --color-font: #212121;
  --color-bk: #212429;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  color: var(--color-font);
  font-family: "Roboto", sans-serif;
}
header {
  width: 100%;
  height: 15vw;
  background-image: url(https://res.cloudinary.com/earthronicleaner/image/upload/v1624632695/PrimerWebSCESI/images/patron-1_zrwuhl.png);
}
footer {
  background-color: var(--color-bk);
}
